# Edit paths for your Linux GPU host. Load explicitly using source in Bash.
SIV_WAM_PRETRAINED_PATH=./assets/pretrained
SIV_WAM_DATASET_PATH=./data/robotwin_lerobot
SIV_WAM_TRANSFORMER_PATH=./outputs/siv/checkpoints/checkpoint_step_100/transformer
SIV_WAM_ROBOTWIN_ROOT=./external/RoboTwin
SIV_WAM_VAE_PATH=./assets/pretrained/vae
WANDB_PROJECT=SIV-WAM
NGPU=1
